<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net472" />
  <package id="MathNet.Numerics.Data.Text" version="4.0.0" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="3.0.0" targetFramework="net472" />
  <package id="MQTTnet" version="3.0.8" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="ScottPlot" version="3.1.5" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net472" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="Zeroit.Framework.Component" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.Form" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.MaterialDesign" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.MaterialWinforms" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.Metro" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.MiscControls" version="1.0.0" targetFramework="net472" />
  <package id="Zeroit.Framework.Utilities" version="1.0.0" targetFramework="net472" />
</packages>